@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}



.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  
  .create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  
  .create label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
  
  .create input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  
  .create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .create button:hover {
    background-color: #f1356d;
    opacity: 0.8;
  }
  
  /* Styling the paragraph for the "posting as" text */
  .username-info {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px; /* Space between the text and the submit button */
  }
  